<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title><span class="material-symbols-rounded icon">dashboard</span> Blogs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Total Blogs: {{blogsData.length}}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 blogs-cards" *ngIf="blogsData && blogsData.length > 0">
      <div class="row">
        <div *ngFor="let blog of blogsData" class="col-12 col-md-12 col-xl-6">
          <app-cards [cardItem]="formatCardData(blog)"></app-cards>
        </div>
      </div>
    </div>

    <div class="col-12 text-center no-search-results" *ngIf="blogsData && blogsData.length==0 && !loading">
      No Blogs yet, Please try again later!.
    </div>
  </div>
</div>
