.container-fluid {
  margin: 10px;
  .home-card {
    padding-bottom: 10px;
    .mat-mdc-card-title {
      color: var(--text-color);
      padding-bottom: 5px;
    }
    .mat-mdc-card-content {
      color: var(--text-color);
      font-size: 12px;
      background-color: var(--bg-color);
      padding: 10px;
      padding-left: 30px;
    }
  }

  .blogs-cards {
    margin-top: 20px;
  }
}
