.users-list {
  background-color: var(--white-bg);
  margin-top: 20px;
  min-height: 45vh;

  .search-box {
    display: flex;
    justify-content: end;
    align-items: center;

    .content {
      display: flex;
      align-items: center;
      border: 1px solid var(--text-color);
      padding: 5px  10px;
      border-radius:2px;
      margin-top: 10px;
      margin-right: 10px;
      input
        {
        // padding: 6px;
        // margin-left: 20px;
        // padding-left: 30px;
        outline: none;
        color: var(--text-color);
        font-size: 13px;
        border: 0px;
        // margin-top: 10px;
        // float: right;
      }
  
      .icon {
        // position: absolute;
        // right: 11%;
        // bottom: -40px;
        font-size: 25px;
        // width: 10px;
        color: black;
      }
    }
  
    .material-icons {
      color: red;
      cursor: pointer;
      position: absolute;
      // left: 29%;
      // top: 7px;
      right: 0%;
      top: 14px;
    }
  }
}

table {
  width: 100%;
  margin-top: 25px;
  box-shadow: none;

  thead {
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #eee;
    white-space: nowrap;
  }

  td {
    white-space: nowrap;
    border: 1px solid #eee;
  }

  .mat-mdc-header-row {
    background-color: var(--table-header);
    height: 40px;

    .mat-mdc-header-cell {
      color: var(--dark-text);
      font-weight: bold;
      font-size: 16px;
      font-size: 14px;
      // padding-left: 50px;
      text-align: center;
    }
  }

  .mat-mdc-cell,
  .mat-mdc-footer-cell {
    color: #717889;
    font-size: 14px;
    // border-bottom-color: var(--border);
    word-break: break-all;
    text-align: center;
  }

  .mat-mdc-cell {
    .img {
      width: 50px;
      height: 50px;
      margin-left: 5%;
      float: left;
    }
    .name { 
      display: inline-block;
      padding-top: 10px;
    }
  }
  .mat-mdc-row{
    height: 70px;
  }
  .mat-mdc-row:nth-child(odd) {
    background-color: var(--bg-color);
  }

  .mat-mdc-row {
    .mat-mdc-cell:first-child {
      color: var(--primary-color);
      font-weight: bold;
    }
  }
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--table-footer);
  padding: 12px;

  .pages {
    margin-left: 100px;
    label {
      color: var(--navy-text);
      font-size: 12px;
      margin-right: 8px;
      font-weight: 500;
    }

    button.select-menu {
      border-radius: 0;
      background: transparent;
      border: 0.5px solid var(--navy-text);
      height: 30px;
      line-height: 30px;
      color: var(--grey-text);
      font-weight: normal;
      font-size: 12px;
    }
  }
}

::ng-deep .ngx-pagination .current {
  background-color: #f6921e !important;
  color: #fcfcfc !important;
  border-radius: 50%;
}

.items {
  margin-top: 7px;
  margin-left: 10px;
  color: var(--grey-text);
  font-size: 12px;
}

::ng-deep .pages-menu .mat-menu-content button {
  display: block;
  color: gray;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  background-color: transparent;
}

.no-data {
  color: #999;
  text-align: center;
  margin-top: 15%;
}

.mat-sort-header {
  text-align: center;
  font-weight: 600;
  align-items: center;
  font-size: 0.875rem;
  color: var(--navy-text);
}

// :host ::ng-deep .mat-sort-header-container {
//   // justify-content: center;
// }

td.mat-cell {
  border-bottom-color: var(--border);
  color: var(--grey-text);
  padding-left: 10px;
  // text-align: center;

  // &.mat-column-Amount {
  //   text-align: right;
  // }
}

::ng-deep  .mat-sort-header-container:not(.mat-sort-header-sorted)
  .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}

.paginator {
  height: 45px;
}

@media (min-width: 992) {
  .mat-mdc-cell {
    .img {
      margin-left: 20%;
    }
  }
}