.nyt-card {
  min-height: 60vh;
  max-height: 60vh;
  padding: 20px 5px;
  margin-bottom: 30px;

  .card-container {
    display: flex;
    flex-direction: column;

    // .image {
    //   margin-right: 20px;
    // }

    .content {
      .title {
        margin-top: 10px;
        color: black;       
          font-size: 14px !important;
      }
      .desc {
        color: var(--text-color);
        font-size: 12px;
      }

      .link {
        text-decoration: underline;
      }

      .date-author {
        color: black;
        margin-top: 15px;
        .date {
          margin-right: 30px;
        }
        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .nyt-card {
    min-height: 45vh;
    max-height: 45vh;
    padding: 20px;
    .card-container {
      flex-direction: row;
      justify-content: space-between;
      .image {
        margin-right: 20px;
      }
      .content {
        .title {
          font-size: 28px !important;
        }
      }
    }
    
  }
}
