<div class="container-fluid">
  <div class="row">
    <!-- Home Header Card -->
    <div class="col-12">
      <mat-card class="home-card">
        <mat-card-header>
          <mat-card-title>
            <span class="material-symbols-rounded icon">dashboard</span>
            Home</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <p>Home Page Description.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Home Statistics Card -->
    <div class="col-12">
      <div class="home-calc-cards">
        <div
          class="calc-card"
          *ngFor="let item of statisticsCardsData"
        >
          <div class="card-container">
            <div class="material-symbols-rounded icon">              
              {{ item?.icon }}
            </div>
            <div class="total">
              <p class="value">{{ item?.total }}</p>
              <p class="title">{{ item?.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Home Recent Blog Card -->
    <div class="col-12" *ngIf="recentBlogs.length > 0">
      <mat-card class="home-card blogs">
        <mat-card-header>
          <mat-card-title> <span class="material-symbols-rounded icon">dashboard</span> Recent Blogs</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="col-12">
            <div class="row home-blogs-cards">
              <div
                class="col-12 col-md-4 col-xl-2"
                *ngFor="let recentBlog of recentBlogs"
              >
                <img mat-card-image src="assets/manufacturer.png" alt="" />
                <div>
                  <h6>{{ recentBlog?.title }}</h6>
                  <p>
                    {{ recentBlog?.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
