.container-fluid {
  padding-top: 10px;
  // background-color: #F0F5FB;
}

.home-card {
  padding-bottom: 10px;
  .mat-mdc-card-title {
    color: var(--text-color);
    padding-bottom: 5px;
  }
  .mat-mdc-card-content {
    color: var(--text-color);
    font-size: 12px;
    background-color: var(--bg-color);
    padding: 10px;
    padding-left: 30px;
  }
}

.home-card.blogs {
  padding-bottom: 0px;
  .mat-mdc-card-content {
    background-color: white;
    border-top: 1px solid var(--bg-color);
  }
  .home-blogs-cards {
    padding: 10px;

    div {
      h6 {
        padding-top: 10px;
        padding-bottom: 5px;
        color: black;
        font-weight: bold;
      }
    }
    div:not(:last-child) {
      margin-right: 7%;
    }
  }
}

.home-calc-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  flex-wrap: nowrap;

  .calc-card {
    padding: 15px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;    
    margin-bottom: 15px;

    .card-container {
      .icon {
        display: flex;
        justify-content: end;
        font-size: 60px;
      }
      .total {
        font-weight: bold;
        p {
          line-height: 25px;
        }
        .value {
          color: black;
          font-size: 30px;
        }
        .title {
          color: var(--text-color);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .home-calc-cards {
    flex-direction: row;
    flex-wrap: wrap;
    .calc-card {
      width: 45%;     
    }
  }
}

@media (min-width: 992px) {
  .home-calc-cards {
    flex-wrap: nowrap;
    .calc-card {
      width: 24%;
    }
  }
}