<div class="header-wrapper"> 
  <h3>LOREM IPSUM</h3>
  <div class="menu-btns">
    <span class="material-symbols-rounded">
      notifications
      </span>
    <span class="name">AP</span>
    <!-- <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
    </button> -->


  </div>    
</div>

