.header-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: white; 
  font-family: Poppins, sans-serif;

  .logo {
    font-weight: bold;
    color: var(--text-color);
    span {
      font-weight: lighter;
    }
  }

  .menu-btns {

    .alert-icon{
      position: relative;
      display: inline-block;

      .material-symbols-rounded {
        display: inline-flex;
        vertical-align: text-bottom;
        margin-right: 20px;
        font-size: 35px;
      }

      .count{
        position: absolute;        
        left: 20px;
        bottom: 20px;
        width: 10px;
        height: 16px;
        border: 1px solid;
        border-radius: 50%;
        color: white;
        background-color: red;
        padding-bottom: 21px;
        padding-right: 15px;
        padding-top: 0px;
        padding-left: 10px;
      }
    }
    

    .name {
      border: 1px solid;
      border-radius: 50%;
      color: white;
      background-color: var(--primary-color);
      padding: 10px;
    }
  }

}

// @media (min-width: 768px) {
// }