.nyt-user-card {
  min-height: 25vh;
  max-height: 25vh;
  padding: 20px;
  margin-bottom: 100px;
  position: relative;
  .card-container {
    height: fit-content;
    text-align: center;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    .image {
      img {
        position: absolute;
        bottom: 60%;
        left: 25% !important;
        height: fit-content;
        z-index: 1;
      }
    
    }
    .icon {
      cursor: pointer;
      span {
        position: absolute;
        bottom: 55%;
        left: 55% !important;
        height: fit-content;
        z-index: 2;
        font-size: 30px;
      }
    }


    .content {
      margin-top: 80px;
      width: 100%;
      .name {
        color: var(--primary-color );
        font-size: 15px;
        font-weight: bold;
      }
      .company{
        font-size: 12px;
        color: var(--text-color);
      }  
    }
  }
}

@media (min-width: 768px) {
  .nyt-user-card { 
    .card-container {
    .image {
      img {
        // bottom: 60%;
        left: 20% !important;
      }
    }
  }
  
  }
}