<mat-card class="nyt-user-card">
  <div class="card-container">
    <div class="icon">
      <span class="material-symbols-rounded">
        play_circle
        </span>
    </div>
    <div class="image">
      <img
        mat-card-image
        src="{{ userCardItem.imageUrl ? userCardItem.imageUrl : '' }}"
        height="204px"
      />
    </div>
    <div class="content">
      <h6 class="name">
        {{
          userCardItem.name
        }}
      </h6>
      <p class="company">
        {{
          userCardItem.company
        }}
      </p>
    </div>
  </div>
</mat-card>
